.primer{
    background-color: grey;
    height: 300px;
}

.footer{
    background-color: grey;
}

h2{
    font-family: 'Times New Roman', Times, serif;
}

h5{
    font-family: 'Times New Roman', Times, serif;
}